.row.monster-background(data-background="#{image_path("monster.jpg")}")
  .col-md-6.col-md-offset-1
    %h1
      Welcome To<br>
      Caitlin's Creations<br>
      Bakery and More!

.row
  %h2 Hello! My name is Caitlin Ramsay
  .col-md-6.col-md-offset-3
    %p I am an at home baker specializing in cupcakes and cookies. I am always willing to try new things and push the boundaries of baked goods. Check everything out and contact me for your next event!
    %p.text-center *Please contact me 1-2 weeks in advance. Cash or check only.

.row
  .col-md-6
    %h2 Things I've Done
    %ul
      %li Chocolate covered pretzels (decorated to suit the occasion)
      %li Chocolate covered strawberries (decorated to suit the occasion)
      %li Chocolate chip cookies
      %li Soft sugar cookies
      %li Iced sugar cookies (decorated to suit the occasion)
      %li Strawberry lemonade cupcakes
      %li Mint chocolate chip cupcakes
      %li Ice cream sundae cupcakes
      %li Peanut butter candy cupcakes
      %li Red velvet cupcakes
      %li Irish cream cupcakes
  .col-md-6
    %h2 Pricing
    %ul
      %li $15 for 12 not decorated cookies
      %li $26 for 24 not decorated cookies
      %li $25 for 12 cupcakes
      %li $30 for 24 cupcakes
    %p All other prices are to be discussed based on the amount desired. All prices negotiable as I am just getting on my feet and trying to do what I love!

.row.milk-background(data-background="#{image_path("milk.jpg")}")
  %h2 About me
  .row
    .col-md-6.col-md-offset-3
      %p I am a young aspiring baker from York, Pennsylvania. Baking has been my passion from a young age and it is what I want to spend my life doing. I will be attending bakery and pastry school in the fall. A lot of my experience has come from learning from family and just trying new things.
      %p I have baked for anything from baby showers to birthdays, graduation parties and company parties. Check out the list of things that I've already done, and feel free to challenge me with something new!
  .row
    .col-md-6.col-md-offset-3.text-center
      %p Email is the best way to contact me but texts and calls are always welcome!
      %p
        %span= link_to "ramsay.caitlin@yahoo.com", "mailto:ramsay.caitlin@yahoo.com"
        %span (717) 586-8389
